
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *{
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    background-color: #f2f2f2;
    overflow-x: hidden;
  }
}
@layer components {


/* position relative is important for location info */
.map-container {
  position: relative;
  width: 100%;
  height: 600px;
}
.app {
  display: grid;
  grid-template-columns: 250px auto auto;
  grid-template-areas: 'h h h'  
                       's m m'
                       'f f f';
}
@media screen and (max-width: 1024px){
  .app {
      grid-template-areas:  "h h h"
                            "m m m"
                            "f f f";
                  
}
.sidebar {
  position: fixed;
  z-index: 20;
  height: 100vh;
  overflow-y: auto;
  top: 0px;
  left: 0px; 
}
}
.header {
  grid-area: h;
  z-index: 19;
}
.sidebar {
  /* position: fixed; */
  grid-area: s;
  /* height: calc(100vh - 160px); */
  width: 250px;
  /* background-color: rgb(46, 4, 4); */
  z-index: 20;
  height: 100vh;
  overflow-y: auto;
  /* top: 80px;
  left: 0px; */
}
.rotate {
  animation: rotation 2s infinite linear;
}

@keyframes rotation {
  from {
      transform: rotate(0deg);
      opacity: 0.4;
  }
  to {
      transform: rotate(360deg);
      opacity: 1;
  }
}

.footer {
  height: 80px !important;
  grid-area: f;
}
.main {
  min-height: 100vh;
  grid-area: m;
  width: 100%;
  max-width: 100vw;
}
/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
}